<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis mascotas</title>
    <link rel="stylesheet" href="/portafolio-html/src/css/mascota.css">
</head>

<body>
    <header>
        <h1>Mis mascotas</h1>
    </header>
    <main>
        <section class="galeria-mascotas">
            <article class="tarjeta-mascotas">
                <img src="/portafolio-html/public/img/tibu.webp" alt="Mi tiburon">
                <h3>El tiburon</h3>
                <p>Es el integrante mas importante del grupo. requiere un ecosistemas acuatico controlado y una dieta
                    especifica para mantener su salud y energia.</p>
            </article>
            <article class="tarjeta-mascotas">
                <img src="/portafolio-html/public/img/cesar.webp" alt="Mi chimpance">
                <h3>El chimpance</h3>
                <p>Destaca por su asombrosa inteligencia y comportamiento social. Es sumamente curioso y siempre
                    encuentra formas creativas de interactuar. </p>
            </article>
            <article class="tarjeta-mascotas">
                <img src="/portafolio-html/public/img/eagle.webp" alt="Mi aguila">
                <h3>El aguila</h3>
                <p>Representa la majestuosidad en el aire. posee una vision privilegiada y cuidados enfocados en su
                    plamaje y bienestar fisico.</p>
            </article>
            <article class="tarjeta-mascotas">
                <img src="/portafolio-html/public/img/chloe.webp">
                <h3>Cloe</h3>
                <p>Tiene un pelo color negro que es precioso. Siempre anda alegre y juguetona, te busca para que la
                    acaricies y le des un poco de tu atención; siempre está mostrando su gran energía a pesar de que es
                    pequeña.</p>
            </article>
            <article class="tarjeta-mascotas">
                <img src="/portafolio-html/public/img/tt.webp" alt="Mi tortuga">
                <h3>Las tortuga</h3>
                <P>Un simbolo de paciencia y longevidad. Su cuidado se centra en un terrario con la temperatura ideal y
                    una alimentacion balanceada.</P>
            </article>
            <article class="tarjeta-mascotas">
                <img src="/portafolio-html/public/img/fg.webp" alt="Mi hamster">
                ><h3>Los hamsters</h3>
                <p>pequeños y muy activos, especialmente durante la noche. Sus tuneles y ruedas de ejercicio los
                    mantienen siempre en movimiento</p>
            </article>

        </section>
    </main>

    <footer>
        <nav>
        <a href="/portafolio-html/index.html" class="btn-volver">Volver al portafolio</a>
        </nav>
    </footer>
</body>

</html>