

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    font-size: 12px;
    letter-spacing: 2px;
}
/* --- Estilos base (Escritorio) --- */
.menu-hamburguesa {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 100;
}

.menu-hamburguesa span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--texto);
    transition: 0.3s;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.botones {
    display: flex;
    gap: 1rem;
}

.boton {
    text-decoration: none;
    color: var(--texto);
    margin-left: 25px;
    transition: 0.3s;
}

.boton:hover {
    opacity: 0.5;
}