

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    font-size: 12px;
    letter-spacing: 2px;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.botones {
    display: flex;
    gap: 1rem;
}

.boton {
    text-decoration: none;
    color: var(--texto);
    margin-left: 25px;
    transition: 0.3s;
}

.boton:hover {
    opacity: 0.5;
}