
.hero {
    padding: 120px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;

}

.hero-text {
    flex: 0 1 auto;
}

.hero h1 {
    font-size: clamp(40px, 6vw, 80px);
    line-height: 1.1;
    margin-bottom: 20px;
    white-space: nowrap;

}

.hero p {
    font-size: 18px;
    color: var(--gris);
    max-width: 500px;

}



.hero-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    filter: grayscale(100%);
    border-radius: 4px;
    transition: 0.5s;
}

.hero-img img:hover {
    filter: grayscale(0%);
}
