* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --fondo: #f5f5f5;
    --texto: #1a1a1a;
    --gris: #777;
    --acento: #000;

}

body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    font-size: 12px;
    letter-spacing: 2px;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.botones {
    display: flex;
    gap: 1rem;
}

.boton {
    text-decoration: none;
    color: var(--texto);
    margin-left: 25px;
    transition: 0.3s;
}

.boton:hover {
    opacity: 0.5;
}

.hero {
    padding: 120px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;

}

.hero-text {
    flex: 0 1 auto;
}

.hero h1 {
    font-size: clamp(40px, 6vw, 80px);
    line-height: 1.1;
    margin-bottom: 20px;
    white-space: nowrap;

}

.hero p {
    font-size: 18px;
    color: var(--gris);
    max-width: 500px;

}



.hero-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    filter: grayscale(100%);
    border-radius: 4px;
    transition: 0.5s;
}

.hero-img img:hover {
    filter: grayscale(0%);
}

section {
    padding: 80px 60px;
}

#sobremi {
    display: flex;
    justify-content: center;
    padding: 100px 20px;

}

#sobremi h2 {
    margin-bottom: 20px;
}

#sobremi p {
    max-width: 600px;
    color: var(--gris);
    line-height: 1.6;

}

.contenedor {
    max-width: 700px;
    text-align: center;
}

#loquehago .contenedor {
    max-width: 1200px;
    margin: 0 auto;

}

#loquehago {

    padding: 100px 20px;
}

#loquehago h2 {
    margin-bottom: 50px;
    text-align: center;
}



#loquehago h3 {
    margin-top: 30px;
    font-size: 22px;
}

#loquehago p {
    color: var(--gris);
    margin-top: 5px;
}



.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-top: 20px;

}


.skill h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.skill p {
    font-size: 15px;
    color: var(--gris);
    line-height: 1.5;
}

.skill img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-top: 20px;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 4px;
}

.skill img:hover {
    filter: grayscale(0%) opacity(1)
}



#proyectos {
    padding: 100px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
    text-align: left;
    padding: 0;
}

.proyecto-card {
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.proyecto-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.proyecto-card p {
    font-size: 15px;
    color: var(--gris);
    margin-bottom: 20px;
    min-height: 45px;
}

.btn-proyecto {
    display: inline-block;
    text-decoration: none;
    color: var(--texto);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--texto);
    padding-bottom: 2px;
    transition: 0.3s;
}

.btn-proyecto:hover {
    opacity: 0.5;
    padding-left: 5px;
}



#proyectos h2 {
    margin-bottom: 50px;
    text-align: center;

}

#proyectos h3 {
    margin-top: 25px;
}

#proyectos p {
    margin-top: 5px;
    color: var(--gris);
}

footer {
    padding: 120px 20px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
}

.contenedor-footer {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;

}


.contacto-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    text-align: left;
}

.contacto-info {
    flex: 1;
}

.contacto-info h2 {
    border: none;
    margin-bottom: 20px;
}

.contacto-info p {
    color: var(--gris);
    max-width: 350px;
}

.email-contacto {
    margin-top: 30px;
    color: var(--texto) !important;
}

.contacto-form {
    flex: 1;
    width: 100%;

}

.input-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 15px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    color: var(--texto);
    outline: none;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid var(--texto);
}

textarea {
    resize: none;
}

.btn-enviar {
    background-color: var(--texto);
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-family: 'inter', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;

}

.btn-enviar:hover {
    background-color: var(--gris);
}

@media (max-width:1024px) {
    .hero {
    gap: 100px;
    }
}

@media (max-width: 768px) {
    .proyectos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
   
}

@media (max-width:500px) {
    .hero{
        flex-direction: column;
        gap: 3rem;
    }
    .skills, .proyectos-grid{
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }
    .contenedor p{
        text-align: justify;
        padding: 0rem 1rem;
    }
    .botones {
    flex-direction: column;
    }
    .contacto-flex {
    flex-direction: column;
    }
    .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
}